main {
    padding-left: 15%;
    padding-right: 15%;
}

h1 {
    background-image: url('../pictures/Bild_1.jpg');
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 15%;
    margin: 10%;
    font-style: italic;
    font-size: 300%;
    font-weight: 900;
    height: auto;
    max-width: 100%;
}

h3 {
    text-align: center;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.countdown-item,
.colon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.countdown-number {
    background-color: #002648;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 10px;
}

.countdown-label {
    font-size: 14px;
    color: #002648;
}

.colon {
    color: #002648;
    font-size: 20px;
    align-self: flex-start;
}

.button-more {
    background-color: #002648;
    font-weight: bold;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#image-news {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

@media (max-width: 1368px) {
    main {
        padding-left: 150px;
        padding-right: 150px;
    }

    h1 {
        font-size: 250%;
    }

    hr {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media (max-width: 1024px) {
    main {
        padding-left: 15%;
        padding-right: 15%;
    }

    h1 {
        font-size: 180%;
    }

    hr {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media (max-width: 868px) {
    main {
        padding-left: 100px;
        padding-right: 100px;
    }

    h1 {
        font-size: 150%;
    }

    hr {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 100px;
        margin-left: 100px;
    }
}

@media (max-width: 668px) {
    main {
        padding-left: 30px;
        padding-right: 30px;
    }

    h1 {
        font-size: 120%;
    }

    .countdown-item {
        margin: auto;
    }

    .countdown-number {
        font-size: 14px;
    }

    .countdown-label {
        font-size: 12px;
    }

    .colon {
        font-size: 18px;
    }

    #countdown {
        margin-top: 10px;
    }
}