/* Allgemeine Styles */
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header Styles */
header {
    background-color: #002648;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    object-fit: contain;
    height: auto;
    flex-direction: row;
    overflow: hidden;
}

.nav-list {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    font-size: 1.375rem;
}

.nav-list a {
    color: white;
    font-weight: bold;
}

#logo-header {
    width: auto;
    height: auto;
    object-fit: fill;
}

/* Main Styles*/
main {
    padding-left: 300px;
    padding-right: 300px;
    text-align: justify;
    line-height: 1.5;
}

h1,
h2 {
    text-align: center;
}

/* Footer Styles */
footer {
    background-color: #002648;
    color: white;
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
    line-height: 0.2;
}

#footer-left {
    text-align: left;
    float: left;
    width: 33.33%;
    padding-left: 150px;
    box-sizing: border-box;
}

#footer-center {
    text-align: center;
    display: inline-block;
    width: 33.33%;
    vertical-align: middle;
}

#footer-right {
    text-align: right;
    float: right;
    width: 33.33%;
    padding-right: 150px;
    box-sizing: border-box;
}

#footer-left h2,
#footer-center h2,
#footer-right h2 {
    font-size: 30px;
    text-align: inherit;
}

#footer-left p {
    font-size: 20px;
    line-height: 0.5;
}

#icon-facebook,
#icon-instagram {
    margin-top: 10px;
    text-align: center;
    width: 60px;
    height: 60px;
}

#logo-footer {
    width: 280px;
    height: 140px;
    display: inline-flex;
    margin: 50px auto 0;
}

#copyright {
    text-align: right;
    margin-top: 10px;
    font-size: 20px;
}