h1,
h2,
h3 {
    text-align: center;
}

.kader {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.player {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.player img {
    width: 150px;
    height: 200px;
}

.player p {
    font-weight: bold;
}

@media (max-width: 1024px) {
    main {
        padding-left: 50px;
        padding-right: 50px;
    }

    .kader {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media (max-width: 768px) {
    main {
        padding-left: 20px;
        padding-right: 20px;
    }

    .kader {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .player {
        padding: 10px;
    }
}